<div class="container">
  <div class="row">
     <%= render 'books/error', model: @book %>
    <div class="col-md-3">
      <%= render 'users/users', user: @user %>
      <h2>New book</h2>
      <%= render 'books/books', book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table-user-show">
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
          <% end %>

           <td>
  <% if @book.favorited_by?(current_user) %>
    <%= link_to book_favorites_path(@book), method: :delete do %>
       ♥<%= @book.favorites.count %> いいね
    <% end %>
  <% else %>
    <%= link_to book_favorites_path(@book), method: :post do %>
      ♡<%= @book.favorites.count %> いいね
    <% end %>
  <% end %>
</td>
</table>

<div>
<p>コメント件数：<%= @book.post_comments.count %></p>

</div>


 <%= render 'books/comment', book: @book,post_comment: @post_comment%>


    </div>
  </div>
</div>